<div class="my-content">
  <mat-toolbar>
    <mat-form-field class="search-filter">
      <input matInput placeholder="Filter Characters...">
    </mat-form-field>
  </mat-toolbar>

  <mat-list-item>
    <button color="accent" mat-raised-button>
      <span>Show or Hide Details</span>
    </button>
  </mat-list-item>

  <mat-list>
    <mat-list-item>
      <img mat-list-avatar />
      <h3 mat-line>Character Name Goes Here</h3>
      <div mat-line>
        <span>Gender goes here</span>
        <span>Birth year goes here</span>
      </div>
    </mat-list-item>
  </mat-list>
</div>